# Ansible managed
SERVICE_NAME="{{ web_app_monitoring_watch_service }}"
CHECK_URL="{{ web_app_monitoring_check_url }}"
CHECK_TIMEOUT="{{ web_app_monitoring_check_timeout }}"
RETRY_COUNT="{{ web_app_monitoring_retry_count }}"
RETRY_DELAY="{{ web_app_monitoring_retry_delay }}"
